In [2]:
import pandas as pd

In [15]:
data  = pd.read_csv("ZAPPOS_OOS_DISCARDED_DUMP_2021-11-23.csv")
data2 = pd.read_csv("ZAPPOS_OOS_DISCARDED_DUMP_2021-11-24.csv")
data3 = pd.read_csv("ZAPPOS_OOS_DISCARDED_DUMP_2021-11-25.csv")

data_22  = {}
data_23 = {}
data_24 = {}

a = list(data['retailer'])
b = list(data2['retailer'])
c = list(data3['retailer'])

# print(a)
# print(len(set(a)),len(set(b)),len(set(c)))


def countings(x,main_data):
    for i in range(len(x)):
        if x[i] in main_data.keys():
            main_data[x[i]]+=1
        else:
            main_data.update({x[i]:0})        
#     for i in sorted(main_data.keys()):
#         print(f"{i} : {main_data[i]}")

countings(a,data_22)
countings(b,data_23)
countings(c,data_24)


final_data = {'sources':[22112021,23112021,24112021,'3_day_average',24112021,'24th_value_as_a_percentage_of_the_3_day_average']}
# final_data.update({i:[data_22[i],data_23[i],data_24[i],round((data_22[i]+data_23[i]+data_24[i])/3,2),data_22[i],round((data_22[i]/avg) * 100,2)] for i in sorted(data_22.keys())})
for i in sorted(data_22.keys()):
    avg = round((data_22[i]+data_23[i]+data_24[i])/3,2)
    val = round((data_24[i]/avg) * 100,2)
    final_data.update({i:[data_22[i],data_23[i],data_24[i],avg,data_24[i],val]})
df =  pd.DataFrame.from_dict(final_data,orient='index')
df.to_csv('out_table.csv',header=False)
df
# print(final_data)

,0,1,2,3,4,5
sources,22112021,23112021,24112021,3_day_average,24112021,24th_value_as_a_percentage_of_the_3_day_average
academy.com,576,578,575,576.33,575,99.77
asics.com,313,197,130,213.33,130,60.94
backcountry.com,73,82,82,79.0,82,103.8
bloomingdales.com,2251,1960,1831,2014.0,1831,90.91
colehaan.com,124,118,128,123.33,128,103.79
dillards.com,9,4,4,5.67,4,70.55
dsw.com,5813,5595,5289,5565.67,5289,95.03
finishline.com,30,72,65,55.67,65,116.76
journeys.com,301,278,276,285.0,276,96.84
kohls.com,2132,2094,2108,2111.33,2108,99.84
llbean.com,25,25,26,25.33,26,102.65
macys.com,6,3,2,3.67,2,54.5
merrell.com,76,78,84,79.33,84,105.89
naturalizer.com,49,49,42,46.67,42,89.99
neimanmarcus.com,3143,3120,3155,3139.33,3155,100.5
nordstromrack.com,5,4,3,4.0,3,75.0
rei.com,1348,1330,1267,1315.0,1267,96.35
rockport.com,82,91,76,83.0,76,91.57
shoes.com,2,0,0,0.67,0,0.0
shopnordstrom.com,463,744,459,555.33,459,82.65
skechers.com,3,5,2,3.33,2,60.06
sorel.com,146,156,161,154.33,161,104.32
stevemadden.com,16,19,21,18.67,21,112.48
thenorthface.com,93,93,86,90.67,86,94.85
toryburch.com,213,224,243,226.67,243,107.2
ugg.com,35,39,39,37.67,39,103.53
vans.com,13,19,15,15.67,15,95.72

In [14]:
type(data)

pandas.core.frame.DataFrame